@font-face {
  font-family: 'TrueCrimesRegular';
  src: url('/assets/true-crimes-webfont.eot');
  src: url('/assets/true-crimes-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/true-crimes-webfont.woff') format('woff'),
       url('/assets/true-crimes-webfont.ttf') format('truetype'),
       url('/assets/true-crimes-webfont.svg#TrueCrimesRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UltraRegular';
  src: url('/assets/Ultra-webfont.eot');
  src: url('/assets/Ultra-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/Ultra-webfont.woff') format('woff'),
       url('/assets/Ultra-webfont.ttf') format('truetype'),
       url('/assets/Ultra-webfont.svg#UltraRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('/assets/League_Gothic-webfont.eot');
  src: url('/assets/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/League_Gothic-webfont.woff') format('woff'),
       url('/assets/League_Gothic-webfont.ttf') format('truetype'),
       url('/assets/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatinModernMono10Regular';
  src: url('/assetslmmono10-regular-webfont.eot');
  src: url('/assetslmmono10-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assetslmmono10-regular-webfont.woff') format('woff'),
       url('/assetslmmono10-regular-webfont.ttf') format('truetype'),
       url('/assetslmmono10-regular-webfont.svg#LatinModernMono10Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}