body {
  margin: 0;
  padding: 0;
}
#masthead {
  padding: 0 30px 0;
  margin: -42px 0 -10px;
  background-color: #FBD75F;
}
#content {
  padding: 30px;
  background-color: #789275;
}
.stories li {
  .body{
    border-top: 1px solid #E9B94D;
    clear: both;
  }
}