#masthead {
  overflow: auto;
  h1 {
    position: relative;
    top: 10px;
    float: left;
    color: #DC3D37;
    font-family: TrueCrimesRegular;
    font-size: 120px;
    font-weight: normal;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    text-shadow: 1px 1px 2px black,  -10px -10px black;
    .word2,
    .word3,
    .word4  {
      margin-left: -24px;
    }
  }

  h3 {
    position: relative;
    top: -20px;
    float: left;
    margin: 0;
    padding: 0;
    color: black;
    font-family: UltraRegular;
    font-size: 36px;
    font-weight: normal;
  }
}

#stories-index {
  color: #E9B94D;
  font-size: 22px;
  h2 {
    font-family: LeagueGothicRegular;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: -2px 1px 2px black;
    margin: 0;
  }
  h4 {
    font-family: LeagueGothicRegular;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    float: left ;
    margin: 0;
  }
  .story .body {
    font-family: LatinModernMono10Regular;
    font-size: 24px;
  }
  ul.stories {
    list-style-type: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  p.votes {
    float: right;
    margin: 0;
  }
}


